body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background-color: rgb(255, 255, 255);
}
h1 {
  font-size: 50px;
}
.name-highlight {
  color: orange;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;

  padding-left: 2%;
}
.half-width img {
  width: 80%;
  padding-bottom: 100px;
}
.single-experience img {
  width: 200px;
  padding-right: 20px;
}
.top-banner {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  height: 300px;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 700;
}
.next-banner {
  height: 700px;
  padding-bottom: 100px;
  background-color: rgb(255, 255, 255);
}
#about {
  padding-top: 110px;
}
.single-experience {
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  margin-top: 70px;

  box-shadow: 10px 10px 40px rgb(151, 151, 151);
  border-radius: 20px;
  height: 500px;
  width: 23%;
  background-color: rgb(255, 255, 255);
}

.Experience-area {
  text-align: center;
  margin: auto;
  width: 100%;
  padding-bottom: 50px;
  padding: 40px;
  height: 700px;
  background-color: #d8d8d8;
  margin-bottom: 100px;
}
.work-text {
  text-align: left;
  color: rgb(14, 14, 14);
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 20px;
  padding: 15px 15px 15px;
  padding-top: 5px;
  height: 50px;
  width: 10%;
  display: block;
}
.work-text:hover {
  background-image: linear-gradient(45deg, rgb(61, 252, 70), rgb(39, 124, 0));
  color: #d8d8d8;
}
.sumon-pic {
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px 20px;

  border-radius: 20px;
  background-color: rgb(206, 206, 206);
  width: 80%;
}

.quarter-width {
  width: 23%;
  float: left;
  margin-left: 5%;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  background-color: #f1f1eb;
  height: 65%;
}

.quarter-width img {
  width: 100%;

  margin-top: 50px;
}

.quiry-area {
  margin-top: 50px;
  margin-left: 250px;
  width: 70%;
  background-image: url(images/b.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  padding-bottom: 10px;
}

.small-width h1 {
  color: white;
}

.small-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.work-heading h1 {
  padding-top: 55px;
  font-size: 45px;
}
.chat-btn {
  padding-top: 110px;
  text-align: right;
}

.chat-button {
  text-decoration: none;
  color: #0f3057;
  background-image: linear-gradient(45deg, #ebf1f1, #dbe4ee);
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 10px 10px 35px #0f3057;
}
footer {
  padding-top: 50px;
  margin: auto;
  text-align: center;

  background-color: rgb(255, 255, 255);
}
footer img {
  width: 5%;
}
footer h3 {
  color: dimgray;
}
